{% extends 'base.html' %}

{% block titulo %}Lista de Veiculos {% endblock %}

{% block estilo %}
  table{
    border: 1px dotted #8B4513;
    font-size: 1.2em;
  }
  td{
    padding: 0.5em;
  }
{% endblock %}

{{% block conteudo %}
    <style>
            p {text-align: justify;}
    </style>
   <h1 class="h-100 p-5 text-white bg-dark rounded-3" align="center">
    Lista de Veiculos
</h1>
<p>
<table style="border: 1px solid black" class="table table-bordered table-striped" align="center">
    <thead>
        <tr align="center">
            <th height="50">Placa</th>
            <th height="50">Quilometragem</th>
            <th>Preço da Diaria</th>
        </tr>
    </thead>
    <tbody align="center">
        {% for v in veiculo %}
        <tr align="center" >
            <td>{{ v.placa }}</td>
            <td>{{ v.quilometragem }}</td>
            <td>{{ v.precodiaria }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</p>
{% endblock %}
