{% extends 'base.html' %}

{% block titulo %}Lista de Funcionários {% endblock %}
{% block conteudo %}
<h1 class="h-100 p-5 text-white bg-dark rounded-3">
    Lista de Veiculos
</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Função</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        {% for f in veiculos %}
        <tr>
            <td>{{ f }}</td>
            <td>{{ f.placa }}</td>
            <td>{{ f.placa }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}